section {
    display: none !important;
}


html, body
{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
    margin: 0;
}
.upper
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    flex-shrink: 0;
    box-sizing: border-box;
    height: 60px;
}
.mid{
    
    padding-bottom: 7px;
    padding-top:7px;
}
.logo
{
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding-bottom: 7px;
   
}
.search
{
    display: block;
    justify-content: center;
    grid-template-rows: 50% 50%;
    position: relative;
    margin: 0 auto;
    padding: 20px;
}

.write
{
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 39px;
    margin: 0 auto;
    padding-top: 6px;
    width: auto;
    max-width: 584px;
    background: #fff;
    display: flex;
}
.searchline
{
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
}
img.loupe
{
    margin: auto;
    height: 25px;
    padding-bottom: 8px;
}

img.icons
{
    margin: auto;
    height: 18px;
    padding-bottom: 8px;
    padding-right: 10px;
}
input
{
    background-color: transparent;
    margin: 0;
    border: none;
    padding: 0;
    padding-bottom: 10px;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    height: 34px;
    font-size: 16px;
    font-family: arial,sans-serif;
    -webkit-appearance: textfield;
    font-weight: 400;
    text-align: start;
}
.buttons{
    height: 70px;
}
.searchbutton
{
    display: block;
    text-align: center;
    padding-top: 20px;
}
.button1
{
    display: inline-block;
    background-color: #F8F9FA;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}
.button1:hover {
        border: 2px solid #e7e7e7;
    }


.footer
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #f2f2f2;

    flex-shrink: 0;
    box-sizing: border-box;
    display: block;
    padding: 0 5px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footerl1{
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0,0,0,.54);
}
.footerl2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
}
.footerl2_1{
    min-width: 30%;
    text-align: left;
    order: 1;  
}
.carbonneutral{
    order: 2;   
}
.neutral{
    padding-left: 10px;
}
img.leaf{
    height: 14px;
    margin-right: 6px;
}
.neutraltekst{
    white-space: nowrap;
    font-size: 13px;
    font-family: arial,sans-serif;
    color: #70757a;
    display: inline-block;
    padding: 13px;
    padding-left: 0;   
}

.footerl2_2{
    text-align: right;
    min-width: 30%;
    order: 3;
}

footerbox{
    text-decoration: none;
    cursor: pointer;    
    color: #70757a;
    font-size: 14px;
    font-family: arial,sans-serif;
    padding: 15px;
    white-space: nowrap;
    display: inline-block; 
}

up1{
    color: rgba(0,0,0,0.87);
    height: 24px;
    width: 41,913px;
    cursor: pointer;
    display: inline-block;
    font-family: arial, sans-serif;
    font-size: 13px;
    font-stretch: 100%;
    font-weight: 400;
    line-height: 24px;
    text-decoration-color: rgba(0, 0, 0, 0.87);
    text-decoration-style: solid;
    user-select: none;
    vertical-align: middle;    
    white-space: nowrap;
    width: 41.9125px;
    padding-left:5px;
    padding-right:5px;
}
dots{
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    height:20px;
}
log{
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    margin-left: 10px;
    margin-right: 8px;
    min-width: 96px;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    box-sizing: border-box;
    background: #1a73e8;
    border: 1px solid transparent;
    color: #fff;
    margin-left: 8px;
    outline: none;
    white-space: nowrap;
}
@media only screen and (max-width: 1200px)
{
    .footerl2_2{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        text-align: right;
        min-width: 30%;
        order: 3;
    }
    .footerl2_1{
        justify-content: flex-start;
        min-width: 30%;
        text-align: left;
        order: 1;
        display: flex;
        flex-wrap: wrap;   
    }
    .footerl2{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0 20px;
    }
}
@media only screen and (max-width: 715px)
{
    .footerl2_2{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        min-width: 30%;
        order: 3;
    }
    .footerl2_1{
        justify-content: flex-start;
        min-width: 30%;
        order: 2;
        display: flex;
        flex-wrap: wrap;   
    }
    .footerl2{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0 20px;
        text-align: center;
    }
}





