.main .top_nav {
	display: none;
}

.main .settings_search {
	display: none;
}

.main .searchResults {
	display: none;
}

.main .footer {
	display: none;
}

body {
	padding: 0;
	margin: 0;
}

.main * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: arial, sans-serif;
}

div.main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main nav.bar {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: 30px;
	margin-top: 14px;
}

.main nav.bar a {
    font-size: 13px;
    display: inline-block;
    line-height: 24px;
    font-weight: 400;
    color: rgb(0,0,0, 0.87);
	  cursor: pointer;
	  padding: 5px 6.7px
}

.main nav.bar a:hover {
	text-decoration: underline;
	opacity: .85;
}
  
.main nav.bar img {
	width: 40px;
    padding: 7px 7px;
	margin: auto 7px;
	cursor: pointer;
}

	.main nav.bar img:hover {
		background-color: #ececece5;
		padding: 7px 7px;
		border-radius: 30px;
	}

	.main nav.bar button {
		border: 1px solid #3478e7;
		background: #3478e7;
		color: #fff;
		padding: 7px 18px;
		border-radius: 3px;
		margin-left: 7px;
		cursor: pointer;
	}

.main .search {
	flex: 1;
}

	.main .search .logo {
		width: 272px;
		height: 92px;
		display: block;
		margin: 0px auto;
		margin-top: 75px;
	}

.main .search_elements {
	width: 580px;
	margin: 0px auto;
	position: relative;
	margin-top: -8px;
	text-align: center;
}

	.main .search_elements .search_input {
		display: block;
		width: 50%;
		border: 1px solid rgb(255, 255, 255);
		font-size: 16px;
		padding: 13px;
		padding-left: 45px;
		border-radius: 25px;
		width: 100%;
		transition: box-shadow 100ms;
		outline: none;
		cursor: auto;
	}

.main .bottom_border {
	border-bottom: 1px solid #ddd;
	width: 94%;
	height: 1px;
	margin: -1px auto;
}

.main .search_elements .search_icon {
	width: 20px;
	opacity: .7;
	position: absolute;
	top: 13px;
	left: 14px;
}

.main .search_elements .micro {
	width: 23px;
	position: absolute;
	top: 13px;
	right: 20px;
	cursor: pointer;
}

.main .search_elements .search_button {
	border: 1px solid #f8f9fa;
	padding: 9px 15px;
	background-color: #f8f9fa;
	color: #3c4043;
	height: 36px;
	min-width: 54px;
	font-size: 14px;
	border-radius: 4px;
	display: inline-block;
	text-align: center;
	margin-right: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
	outline: none;
	cursor: pointer;
	transition: border-color 100ms;
}

	.main .search_elements .search_button:hover {
		box-shadow: 0 0 3px rgba(172, 172, 172, 0.822);
	}

.main footer.footer_main {
	background: #f2f2f2;
}

	.main footer.footer_main h4 {
		color: rgba(0,0,0, 0.54);
		font-size: 15px;
		line-height: 43px;
		font-weight: 400;
		padding-left: 29px;
		border: 1px solid #eee;
	}

	.main footer.footer_main a {
		color: rgba(0,0,0, 0.54);
		display: inline-block;
		padding: 12px 11.3px;
		font-size: 14px;
	}

		.main footer.footer_main a:hover {
			text-decoration: underline;
		}

.main .links {
	border-top: 1px solid #ddd;
	display: flex;
	color: #70757a;
	padding: 5px 0px;
}

.main .link_1 {
	padding-left: 18.7px;
	flex: 1;
	justify-content: flex-start;
	min-width: 40%;
	order: 1;
}

.main .boldText {
	font-weight: 400;
}

.main .link_2 {
	padding-left: 18.7px;
	order: 2;
	flex: 1;
}

	.main .link_2 .leaf {
		height: 15px;
		padding-right: 5px;
	}

.main .link_3 {
	padding-right: 18.7px;
	order: 3;
	justify-content: flex-end;
}

.main .dropdown_content {
	border: 1px solid #ddd;
	border-radius: 25px;
	outline: none;
	cursor: auto;
}

	.main .dropdown_content:hover {
		border: 1px solid #fff;
		box-shadow: 0 0 5px rgba(172, 172, 172, 0.822);
	}
.main .thin {
	font-weight: 500;
}

.main .dropdown_content .list li {
	list-style: none;
	background-image: url('images_google/search_icon.png');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 20px;
	margin: 0 15px 0 15px;
	text-align: left;
	padding: 7px 5px 7px 30px;
}

	.main .dropdown_content .list li.grey_content {
		background-color: rgb(240, 240, 240);
	}

